<% @clients.each do |client| %>
    <div> <%= link_to client.name, client_path(client) %> </div>
    <label> Membership Level </label>
    <li><%=client.membership%></li>
    
  <% end %>

  <div> <%= link_to "See All Appointments", appointments_path %> </div>
  <div> <%= link_to "Back to Make New Appointment", new_appointment_path %> </div>

  
