/* ...
  *= require_self
  *= require_tree .
*/

body {
    background-image: url( "yellowhw.jpeg");
    background-repeat:repeat-y;
    background-size: 2000px 1000px;
    color: dodgerblue;
    text-align: center
}


