<h1> Appointments List Comming Soon!!! </h2>

<% @appointments.each do |appointment| %>
    <div> Trainer name here </div>
    <li><%= appointment.date %></li>
    <li><%= appointment.timeslot %></li>
  <% end %>



