<div class="Aptbackdrop">
<h1> Appointments List Comming Soon!!! </h1>

<% @appointments.each do |appointment| %>
    <div> Trainer name here </div>
    <li><%= appointment.date %></li>
    <li><%= appointment.timeslot %></li>
  <% end %>

  </div>



